{% extends 'base.html' %}


{% block title %}
Eliminar empleado
{% endblock title %}

{% block content %}
{% include 'includes/header.html' %}

<div class="grid-container">
    <div class="grid-x">
        <h1 class="cell">Eliminar empleado: {{ object.first_name}} {{ object.last_name}}</h1>

        <form method="post">{%csrf_token %}

            <div class="callout">
                <h5>Desea eliminar este empleado</h5>
                <p>Recuerde que al eliminar perdera los datos del empleado</p>
                <button type="submit" class="button alert">Eliminar</button>
            </div>

        </form>

    </div>



</div>


{% endblock content %}